@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Space Grotesk" ;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: 
}